{% extends "_base.html" %} {% block search %}
<div class="search">
    <img src="/assets/search.svg" aria-hidden="true" class="search__icon" />
    <input
        type="text"
        aria-label="Buscar un libro"
         placeholder="Buscar un libro" 
        class="search__input"
        data-ref="search"
    />
</div>
<div id="comprar">
<a href="https://www.amazon.com/amazon-books/b?ie=UTF8&node=13270229011" class="brand">
    <div class="brand">
        <img
            class="amazon__button"
            src="/assets/botonAmazon.png"
            alt="Amazon Page"
            width="100px"
        />
    </div>
</a>
</div>

{% endblock %} {% block main %}
<div class="home">
    <div class="filters-container">
        <form class="card filters" data-ref="filter">


              <label class="cantidadLibros" >
                   <div id="cant"></div>
             </label>

            <label class="filter">
                <input
                    type="radio"
                    name="filter"
                    value="AVAILABLE"
                    checked="checked"
                />
                <div>Descubrir</div>
            </label>

            <label class="filter">
                <input type="radio" name="filter" value="READING" />
                <div>Empezados</div>
            </label>

            <label class="filter">
                <input type="radio" name="filter" value="FINISHED" />
                <div>Terminados</div>
            </label>
        </form>
    </div>
    <div class="books-container" data-ref="books"></div>
</div>
{% endblock %} {% block js %}
<script type="module" src="/js/home.js"></script>

<script src="/js/partials/booklist.js"></script>
<script src="/js/partials/book.js"></script>
{% endblock %}
